node_modules
secrets.sh
local_files/
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
utils/.env
.github
*.archived
.idea

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
utils/env/
*.egg-info/
.pytest_cache/
